body{
    background-color: #3e4452;
    font-family: sans-serif;
}
.gradient{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 25vw;
    height: 25vw;
    background: linear-gradient(-45deg,#686ffd,#f1a73f,#686ffd,#f1a73f);
    background-size: 400% 400%;
    background-position: 0% 10%;
    border-radius: 20px;
   box-shadow: 0px 0px 20px black;
   cursor: pointer;
   border-radius: 50%;

}
.gradient:hover{
    animation: gradient 10s ease infinite;
}
@keyframes gradient{
    0%{
        background-position: 0% 10%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
h1{
    color: aliceblue;
    text-align: center;
    margin: auto;
    font-size: 3vw;
}