*{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
.a img{
    margin-top: 10%;
    margin-left: 0;
    height: 80%;
    width: 30%;
    box-sizing: border-box;

}
.b img{
    margin-top: 10%;
    margin-left: 20;
    height: 80%;
    width: 30%;
    box-sizing: border-box;


}
.c img{
    margin-top: 10%;
    margin-right: 10%;

    height: 80%;
    width: 30%;
    box-sizing: border-box;  
     
}